<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
<div id="myApp">
    <h2>Quotes: <small>{{newQuote}}</small> </h2>
    <input
            type="text"
            v-model="newQuote"
            @keypress.enter="changeQuote"
    >
    <ul>
        <li v-for="({quote, author} = quote, index) in quotes">
            <h3>{{index}} - {{quote}}</h3>
            <cite>{{author}}</cite>
        </li>
    </ul>
</div>


<script src="index.js"></script>
</body>
</html>